body {
    font-family: 'Inter', sans-serif;
}

.white-fill {
    fill: white;
}

/* HEADER */
.header {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    position: absolute;
    z-index: 99;
    width: 100%;
    padding: 2rem;
    color: white;
}

.header-left {
    justify-self: start;
}

.header-center {
    justify-self: center;
}

.header-right {
    justify-self: end;
}

.header-logo {
    height: 25px;
    cursor: pointer;
}

.header-button:hover>svg {
    fill: rgb(163, 163, 163);
}

.clear-button {
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
}

.clear-button:focus {
    border: 1px solid blue;
    outline: 1px solid white;
}

.main {
    position: relative;
}

/* MOVIE PREVIEW */
.show {
    visibility: visible;
    filter: blur(0px);
}

.hidden {
    visibility: hidden;
    filter: blur(10px);
}

.active {
    opacity: 0.5;
}

.display-none {
    display: none;
}

.movie-preview-link {
    color: white;
    text-decoration: none;
}

/* MOVIE PREVIEW IMAGE */
.movie-preview-wrapper {
    position: relative;
    min-height: 100vh;
}

.movie-preview-image {
    position: absolute;
    object-fit: cover;
    height: 100%;
    width: 100%;
    transform: scale(1.05);
    transition: filter 1.5s ease-in;
}

/* MOVIE PREVIEW LINKS*/
.movie-preview-bottom {
    position: absolute;
    bottom: 0;
    z-index: 99;
    padding-left: 2rem;
    padding-bottom: 3rem;
}

.movie-preview-title-container>a {
    display: flex;
    gap: 1rem;
    color: white;
    cursor: pointer;
    width: fit-content;
    text-decoration: none;
}

.movie-preview-title {
    font-size: 60px;
    font-weight: 500;
}

.movie-preview-year {
    font-family: monospace;
    font-size: 14px;
    font-weight: normal;
}

.movie-preview-list-item:hover {
    color: rgb(163, 163, 163);
}

/* MOBILE DEFAULTS ON DESKTOP VIEW */
.movie-preview-list-item-mobile {
    display: none;
}

.movie-preview-mobile-title {
    display: none;
}

.position-indicator {
    display: none;
}

@media (max-width: 1299px) {
    .movie-preview-title {
        font-size: 48px;
        font-weight: 500;
    }
}

@media (max-width: 1020px) {
    .movie-preview-title {
        font-size: 36px;
        font-weight: 400;
    }
}

@media (max-width: 700px) {
    .header {
        padding: 2rem;
    }

    /* .movie-preview-title {
        font-size: 24px;
    } */

    .movie-preview-bottom {
        position: absolute;
        bottom: 0;
        z-index: 99;
        padding: 2rem;
    }
}

@media (max-width: 640px) {

    .header {
        padding: 1.5rem 1rem 1rem 1rem;
    }

    .movie-preview-wrapper {
        position: absolute;
        z-index: 2;
        min-width: 100vw;
        min-height: 100svh;
        transition: transform 600ms ease-out, -webkit-transform 600ms ease-out;
    }

    .movie-preview-wrapper.hide {
        transform: translateY(-160%);
    }

    .movie-preview-bottom {
        display: none;
    }

    .show {
        visibility: visible;
        filter: blur(0px);
        animation-name: zoom-in;
        animation-duration: 0.5s;

    }

    @keyframes zoom-in {
        0% {
            transform: scale(1.025);
        }

        100% {
            transform: scale(1.05);
        }
    }

    .hidden {
        visibility: hidden;
        filter: blur(0px);
    }

    /* CUSTOM IMAGE POSITION -- MOVIE: THE CURSE */
    .movie-preview-wrapper>.movie-preview-container:first-child>.movie-preview-image {
        object-position: 20%;
    }

    /* MOBILE MOVIE TITLE */
    .movie-preview-mobile-title {
        display: block;
        position: absolute;
        bottom: 0;
        padding-left: 1rem;
        padding-bottom: 3rem;
        width: 300px;
        color: white;
        z-index: 99;
    }

    .movie-preview-mobile-title>a {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    .movie-preview-title {
        font-size: 42px;
        font-weight: 500;
    }

    .movie-preview-year {
        font-size: 14px;
    }

    /* POSITION INDICATOR */
    .position-indicator {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;

        position: absolute;
        z-index: 99;
        bottom: 0;
        right: 0;

        padding-bottom: 2rem;
        padding-right: 1rem;
        color: white;
    }

    .position-line {
        height: 60px;
        border-left: 1px solid white;
        transition: height 0.3s ease-in;
    }
}

.test-sections {
    min-height: 100svh;
    background-color: blue;
}