body {
    font-family: 'Inter', sans-serif;
}

/* HEADER */
.header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    color: white;
    padding: 4rem;
    position: absolute;
    z-index: 99;
    align-items: center;
}

.header>div {
    cursor: pointer;
}

.header>div:hover {
    color: rgb(163, 163, 163);
}

.header-left {
    justify-self: start;
}

.header-center {
    justify-self: center;
}

.header-logo {
    height: 25px;
}

.header-right {
    justify-self: end;
}

/* MOVIE PREVIEW IMAGE */
.movie-preview-wrapper {
    position: relative;
    min-height: 100vh;
    overflow: hidden;
}

.movie-preview-image {
    position: absolute;
    object-fit: cover;
    height: 100%;
    width: 100%;
    transform: scale(1.05);
    filter: blur(0);
    /* Initial state: no blur */
    transition: filter 1.5s ease-in;
    /* Add a smooth transition for the 'filter' property */
}

.movie-preview-bottom {
    position: absolute;
    bottom: 0;
    z-index: 99;
    padding: 4rem;
}

.movie-preview-mobile-title {
    display: none;
}

/* MOVIE PREVIEW LIST */
.movie-preview-list-item {
    display: flex;
    gap: 1rem;
    color: white;
    cursor: pointer;
    width: fit-content;

}

.movie-preview-list-item>h1 {
    font-size: 60px;
    font-weight: 500;
}

.movie-preview-list-item>p {
    font-family: monospace;
    font-size: 14px;
    font-weight: normal;
}

.movie-preview-list-item:hover {
    color: rgb(163, 163, 163);
}

.show {
    visibility: visible;
    filter: blur(0);
}

.active {
    opacity: 0.5;
}

.hidden {
    visibility: hidden;
    filter: blur(10px);
}

.movie-preview-list-item-mobile {
    display: none;
}

@media (max-width: 1299px) {
    .movie-preview-list-item>h1 {
        font-size: 48px;
        font-weight: 500;
    }
}

@media (max-width: 1020px) {
    .movie-preview-list-item>h1 {
        font-size: 36px;
        font-weight: 400;
    }
}

@media (max-width: 700px) {
    .header {
        padding: 2rem;
    }

    .movie-preview-list-item>h1 {
        font-size: 24px;
    }

    .movie-preview-bottom {
        position: absolute;
        bottom: 0;
        z-index: 99;
        padding: 2rem;
    }
}

@media (max-width: 640px) {
    .header {
        padding: 1.5rem 1rem 1rem 1rem;
    }

    .hidden {
        filter: blur(0);
    }

    .movie-preview-wrapper {
        min-height: 100svh;
    }

    .movie-preview-bottom {
        display: none;
    }

    .movie-preview-mobile-title {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        position: absolute;
        bottom: 0;
        padding-left: 1rem;
        padding-bottom: 10rem;
        width: 300px;
        color: white;
        z-index: 99;
    }

    .movie-preview-mobile-title>h1 {
        font-size: 48px;
        font-weight: 500;
    }

    .movie-preview-mobile-title>p {
        font-size: 14px;
        font-family: monospace;
        font-weight: normal;
    }
}